// Very small tablets and large smartphones (landscape view)
$screen-xsm-min: 374px;

// Small tablets and large smartphones (landscape view)
$screen-msm-min: 480px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 575px;

$screen-smd-min: 640px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1280px;

$screen-xxl-min: 1440px;

$screen-xxxl-min: 1728px;

$screen-4xl-min: 1921px;

// FHD desktops
$screen-fhd-min: 1921px;
